* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: cadetblue;
}

#container {
    background-color: white;
    height: 800px;
    width: 700px;
    margin: 20px;
    padding: 20px;
}

header {
    text-align: center;
    font-size: 9px;
    padding: 20px;
    border-bottom: 2px solid cadetblue;
}

#bloque1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
}

#caja1 {
    margin: 15px;
    padding: 15px;
    width: 170px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 20px 30px 10px 50px;
}

#caja2 {
    margin: 15px;
    padding: 15px;
    width: 170px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 5px;
}

#caja3 {
    margin: 15px;
    padding: 15px;
    width: 170px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 50px;
    background:linear-gradient(white, cadetblue);
}

#caja4 {
    margin: 15px;
    padding: 15px;
    width: 170px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 50px;
    background: radial-gradient(white, cadetblue);
}

#caja5 {
    margin: 15px;
    padding: 15px;
    width: 170px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 50px;
}

#caja6 {
    margin: 15px;
    padding: 15px;
    width: 170px;
    height: 30px;
    border: 1px solid grey;
    text-align: center;
    border-radius: 5px;
}


#bloque2 {
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#caja7 {
    border: 1px solid grey;
    text-align: center;
    border-radius: 50px;
    margin: 15px;
    width: 670px;
    height: 30px;
    padding: 20px;
    box-shadow: 5px 5px 5px cadetblue;
}

#caja8 {
    border: 1px solid grey;
    text-align: center;
    border-radius: 50px;
    margin: 15px;
    width: 670px;
    height: 30px;
    padding: 20px;
}

#caja9 {
    border: 1px solid grey;
    text-align: center;
    border-radius: 50px;
    margin: 15px;
    width: 670px;
    height: 30px;
    padding: 20px;
    text-shadow: 5px 5px 5px cadetblue;
}

#caja10 {
    border: 1px solid grey;
    text-align: center;
    border-radius: 50px;
    margin: 15px;
    width: 670px;
    height: 30px;
    padding: 20px;
    background: linear-gradient(-90deg, cadetblue, white);
}

footer {
    text-align: center;
    font-size: 9px;
    padding: 10px;
    border-top: 2px solid cadetblue;
}

p {
    margin: 15px;
    justify-content: center;
}