@media all and (max-width: 600px) {

    header,
    nav,
    #c1,
    #c2,
    #c3,
    footer {
        display: block !important;
        width: 100% !important;
        height: 62px;
        margin: auto !important;
        position: static !important;
        float: none !important;
    }
}

header {
    background-color: rgb(154, 205, 50);
    width: 100%;
}

nav {
    background-color: rgb(148, 255, 127);
    width: 100%;
}

#c1 {
    background-color: rgb(226, 198, 43);
    width: 100%;
}

#c2 {
    background-color: rgb(219, 27, 219);
    width: 40%;
}

#c3 {
    background-color: rgb(30, 210, 201);
    width: 60%;
}

footer {
    background-color: rgb(220, 20, 60);
    width: 100%;
}