@font-face {
    font-family: MuseoModerno;
    src: url(../fonts/MuseoModerno-Italic-VariableFont_wght.ttf);
}


* {
    margin: 0px;
    padding: 0px;
}

/* Aquí empieza el css relacionado con el apartado "header" de la página. */
/*Código css global, para todos los elementos dentro del header*/
header {
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
}
header h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 900px;
    top: 18px;
    color: white;
    text-shadow: 1px 2px 5px red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header img {
    position: absolute;
    height: 80px;
    left: 800px;
}

/*Aqui empieza el código relacionado con el apartado "nav" de la página-*/

nav {
    background:orange;
    width: 100%;
    height: 50px;
    text-align: center;
}

nav li {
    padding-top: 15px;
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

nav li a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 0px #f06529;
}

nav li a:hover {
    text-shadow: 0px 0px 5px #ff7e42;
    transition: 0.5s;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

.submenu {
    position: relative;
}

.submenu>ul>li>a {
    color: white;
    margin: auto;
    text-decoration: none;
}

.submenu>ul {
    position: absolute;
    left: -30px;
    height: 0px;
    overflow: hidden;
    width: 145px;
    transition: height linear .3s;
    z-index: 2;
}

.submenu:hover>ul {
    height: 260px;
}

.submenu>ul>li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0px;
    background-color: #e34c26;
}

.submenu>ul>li:nth-child(odd) {
    background-color: #f06529;
}


.submenu>ul>li:hover {
    background-color: #ff7e42;
}

.submenu>ul>li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 25px;
    position: relative;
}

.submenu>ul>li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

nav>ul>li>ul>li:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #e34c26;
    left: 50%;
    top: -11px;
    margin-left: -5px;
    z-index: 19;
}

/* Aqui empieza el código relacionado con el apartado "main" de la página.*/

main {
    background-color: rgb(207, 207, 207);
    width: 100%;
    height: 780px;
    position: relative;
}

/* Aqui empieza el código relacionado con los distintos elementos dentro del apartado "main" de la página. */

#barra_lateral {
    background: linear-gradient(orange, rgb(255, 104, 45));
    width: 300px;
    height: 100%;
    padding: 10px;
}

#barra_lateral ul {
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;

}

#barra_lateral li {
    margin: 10px;
}

#hombres {
    position: absolute;
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    width: 500px;
    height: 90%;
    left: 25%;
    top: 20px;
    text-align: justify;
    padding: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 0px #f06529;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}

#hombres_header img {
    width: 500px;
}

#hombres_header h2 {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin: 5px;
}

#hombres button {
    position: relative;
    background-color: rgba(255, 165, 0, 80%);  
    border: transparent;
    left: 190px;
    top: 230px;
    height: 40px;
    width: 120px;
    border-radius: 50px;

}

#hombres button:hover{
    transition: .2s;
    background-color: rgba(255, 165, 0, 100%); ;
}

#mujeres {
    position: absolute;
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 0px #f06529;
    width: 500px;
    height: 90%;
    left: 60%;
    top: 20px;
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}

#mujeres_header img {
    width: 500px;
    height: 330px;
}

#mujeres_header h2 {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin: 5px;
}

#mujeres button {
    position: relative;
    background-color: rgba(255, 165, 0, 80%); 
    border: transparent;
    left: 200px;
    top: 230px;
    height: 40px;
    width: 120px;
    border-radius: 50px;

}

#mujeres button:hover{
    transition: .2s;
    background-color: rgba(255, 165, 0, 100%); ;
}

#tabla {
    position: absolute;
    background: rgb(0, 0, 110);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 0px #f06529;
    width: 500px;
    height: 30%;
    left: 37%;
    top: 20%;
    text-align: justify;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
}

.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    margin: 45px;
    width: 800px;
    height: 400px;
    text-align: left;
    border: 2px solid #fff;
    border-radius: 5px;
    z-index: 6;
    background-color: #fff;
}

#lista{
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    padding: 10px;
    border-radius: 15px;
}

/* Aparatado del codigo css dedicado al formulario */

#formulario {
    position: absolute;
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    color: white;
    font-family: MuseoModerno;
    text-shadow: 2px 2px 0px #f06529;
    width: 1000px;
    height: 90%;
    left: 25%;
    top: 20px;
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}

form {
    background: linear-gradient(orange, rgb(255, 104, 45));
    margin: 10px;
    padding: 20px;
    position: absolute;
    height: 87%;
    align-items: center;
    border-radius: 15px;
    width: 40%;
}

#form-header {
    background: linear-gradient(orange, rgb(255, 104, 45));
    margin: 10px;
    padding: 20px;
    position: absolute;
    height: 10%;
    left: 500px;
    align-items: center;
    border-radius: 15px;
    width: 45%;
}

#vuelvapronto {
    background: linear-gradient(orange, rgb(255, 104, 45));
    margin: 10px;
    padding: 20px;
    position: absolute;
    width: 285px;
    height: 69%;
    left: 500px;
    top: 150px;
    align-items: center;
    border-radius: 15px;
    width: 45%;
}

#vuelvapronto img{
    width: 92%;
    position: inherit;
    top: 70px;
    height: 83%;
    border-radius: 15px;
}

form input, textarea{
    display: inline-block;
    border: 1px solid #e5e5e5;
    color: black;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.1);
    font-family: MuseoModerno;
    font-weight: bold;
    padding: 1px 4px 1px 45px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in;
}

form input {
    height: 32px;
    width: 330px;
}

form input:focus {
    width: 370px;
    box-shadow: 0px 0px 12px rgb(255, 255, 255);
}

#nombre:focus:valid {
    background-image: url("../img/valid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#apellido:focus:valid {
    background-image: url("../img/valid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#dni:focus:valid {
    background-image: url("../img/valid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#email:focus:valid {
    background-image: url("../img/valid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#telefono:focus:valid {
    background-image: url("../img/valid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#n_pedido:focus:valid {
    background-image: url("../img/valid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#nombre:focus:invalid {
    background-image: url("../img/invalid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#apellido:focus:invalid {
    background-image: url("../img/invalid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#dni:focus:invalid {
    background-image: url("../img/invalid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#email:focus:invalid {
    background-image: url("../img/invalid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#telefono:focus:invalid {
    background-image: url("../img/invalid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}

#n_pedido:focus:invalid {
    background-image: url("../img/invalid.png");
    background-repeat: no-repeat;
    background-position: 390px;
}



input + label::after {
    content: "*";
}

#enviar {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid #434343;
    color: white;
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    box-shadow: inset 0px 1px 1px #353535;
    cursor: pointer;
    width: 100%;
    height: 31%;
    border-radius: 15px;
}

#enviar:hover{
    
    background: linear-gradient(rgb(0, 0, 139), rgb(0, 0, 110)); 
}

#contenedorFormulario {
    position: relative;
    display: inline-block;
    margin: 50px;
    width: 600px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    background-color: rgba(200, 200, 200, 0.7);
    justify-content: left;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4);
}

#contenedorFormulario h1 {
    position: absolute;
    top: -16px;
    left: 490px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: "Aguafina Script";
    letter-spacing: 5px;
    text-shadow: 0px 0px 2px #777;
    padding: 0px 10px 0px 10px;

}

#video {
    position: absolute;
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    width: 1100px;
    height: 90%;
    left: 25%;
    top: 20px;
    text-align: justify;
    padding: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 0px #f06529;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
}

/* Aquí empieza el código relacionado con el apartado de animaciones, transiciones y transformacines. */


 @-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  
  
  .slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s ease-in both;
	        animation: slide-fwd-center 0.45s ease-in both;
}
  

/* Aqui empieza el código relacionado con el apartado "footer" de la página. */

footer {
    position: relative;
    background: linear-gradient(rgb(0, 0, 110), rgb(0, 0, 139)); 
    width: 100%;
    height: 60px;

}

footer p {
    position: absolute;
    top: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 5px orange;
    left: 750px;
    top: 20px;
}