* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 20px;
    text-align: center;
}

a:hover {
    color: red;
    transition: .3s;
}

nav > ul > li{
    display: inline-block;
    text-decoration: none;
    margin: 50px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.submenu {
    position: relative;
}

.submenu > ul > li > a {
    color: white;
    margin: auto;
    text-decoration: none;
}

.submenu > ul {
    position: absolute;
    left: -38px;
    height: 0px;
    overflow: hidden;
    width: 145px;
    transition: height linear .3s;
    z-index: 2;
}

.submenu:hover > ul {
    height: 200px;
}

.submenu > ul  > li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0px;
    background-color: #363636;
}

.submenu > ul > li:nth-child(odd) {
    background-color: #313131;
}


.submenu > ul > li:hover{
    background-color: #444;
}

.submenu > ul > li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 25px;
    position: relative;
}

.submenu > ul > li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

nav > ul > li > ul > li:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -11px;
    margin-left: -5px;
    z-index: 19;
}