#contenedor .bloque {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 1px solid #333;
    background: #999;
    margin: 20px;
    text-align: center;
    color: red;
}

#contenedor .bloque img {
    width: 100%;
    height: 85%;
}

@media all and (max-width: 800px) {
    #contenedor .bloque {
        display: block !important;
        width: auto !important;
    }
}

#contenedor .bloque {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 1px solid #333;
    background: #999;
    margin: 20px;
}